<link rel="stylesheet" href="/css/client/activated.css">
<form action="">
    <h1>Your Account was activated successfully!</h1>
    <h3>You can close this page now, or <a href="http://10.147.20.45:8082/client/">click here</a> for redirect at login page</h3>
</form>