<link rel="stylesheet" href="/css/client/register-successfully.css">
<form action="">
<h1>Account registered successfully!</h1>
<h2>A e-mail confirmation was send to your inbox</h2>
<h3><a href="http://10.147.20.45:8082/client/">Click here</a> for redirect to the login page</h3>
</form>
