<link rel="stylesheet" href="/css/client/register.css">
<form action="/client/register/" method="post" class="form-register">
<ul>
    <label for="">Name</label>
    <input type="text" name="name" autocomplete="off" required>
    <label for="">E-mail</label>
    <input type="mail" name="email" autocomplete="off" required>
    <label for="">User</label>
    <input type="text" name="user" autocomplete="off" required>
    <button>Register</button>
</ul>
</form>